In [1]:
2+1

3

In [2]:
2-1

1

3/2

In [3]:
2+2

4

In [4]:
3/2

1.5

In [5]:
7/4

1.75

In [6]:
# Checks the remainder 7 divide by 4 is 4 times 1 = 4 and 3 reamining
20 divide by 2 is exactly 10 with no remainder so 20 % 2 will be  equals to 0


7 % 4

3

In [7]:
2 ** 3

8

In [8]:
2+10*10+3

105

In [9]:
# It uses BODMAS known as PEDMAS in US (Parentheses-Exponents-Multiplication-Addistion-Subtraction)


(2+10)*(10+3)

156

In [10]:
1/10+2/100+5/1000

0.125

In [11]:
0/2+0/4+1/8

0.125

In [12]:
round(2.675,2)

2.67

In [13]:
decimal(2.675)

NameError: name 'decimal' is not defined

In [14]:
from decimal import Decimal

In [15]:
Decimal(2.675)

Decimal('2.67499999999999982236431605997495353221893310546875')

In [101]:
#NAMES and VARIABLES

a = 5

In [17]:
a = 5

In [18]:
a

5

In [19]:
a=10

In [20]:
a

10

In [21]:
a+a

20

In [32]:
a= a+a

In [33]:
a

160

In [24]:
a

20

In [25]:
a

20

In [34]:
type(a)

int

In [35]:
a=30.8

In [36]:
type(a)

float

In [58]:
my_income = 100
tax_rate = 0.1
my_taxes =my_income * tax_rate

In [38]:
my_income= 100
tax_rate=0.1
my_taxes=my_income*tax_rate

In [39]:
my_taxes

10.0

In [40]:
my_income= 8300

In [41]:
my_taxes

10.0

In [57]:
# STRINGS LECTURE
# Indexing and slicing
"this is a string lecture"

'this is a string lecture'

In [56]:
'hello'

'hello'

In [44]:
"hello"

'hello'

In [45]:
"i'm going home or can't I"

"i'm going home or can't I"

In [46]:
'hello world boys'
'hello world girls'

'hello world girls'

In [47]:
# This shows the Use of Print, look t the example in 46 the output was just the 2nd line only but below both


print('hello world boys')
print('hello world girls')

hello world boys
hello world girls

In [48]:
print('hello world')

hello world

In [50]:
# Here we see how to put characters like new line which is \n or tab which \t in between strings

print('hello \nworld')

hello
world

In [51]:
print('hello \t world')

hello 	 world

In [52]:
# The tab spacing can be adjusted by just increasing the space bewteen the strings same as the new line \n



print('hello \t     world')

hello 	     world

In [53]:
# the len is the length of the character like hellombellow contains 5 characters and my baby is 7 it includes d space



len('hello')

5

In [55]:
len('my baby')

7

In [59]:
#Indexing and Slicing

mystring = "Hello World"

In [60]:
mystring

'Hello World'

In [61]:
#Indexing shows the number of the character as show below 8 in hello world is letter r

mystring[8]

'r'

In [62]:
# strings could be indexed from behind as shown below -1 will be the d in Hellow world read from behind

mystring[-1]

'd'

In [63]:
# slicing takes a part of the string, i.e 2 or more out of a character

mystring= "olukayode"

In [64]:
mystring

'olukayode'

In [66]:
mystring[3]

'k'

In [67]:
len("mystring")     #remember counts from 0

8

In [69]:
# Below shows from wherever we wantin the string to the end of the string and the other way round is further below


mystring[3:]

'kayode'

In [71]:
mystring[:3]

'olu'

In [73]:
mystring[3:6]

'kay'

In [74]:
# Below you can use to show the fulll string or just type out the variable mystring as usually do.
# further below we see why this double colunm is used we use it for step slice as shown below we going 2 steps

mystring[::]

'olukayode'

In [75]:
#Below we have used 2 steps slice from the begining of the string(2 loops)

mystring[::2]

'ouaoe'

In [76]:
mystring[::3]

'oko'

In [83]:
# Below starts on 1 stops at 8 and moves by 3 steps

mystring[1:8:3]

'lad'

In [84]:
# Below is a statement saying all the way to the begining all the way to the end take a backward step 

mystring[::-1]

'edoyakulo'

In [94]:
# [IMMUTABILITY: this shows that strings are data types in python that cannot be mutated, immitated or swapped
# 94 to 98 is just checking this works but you cannot reassing a string(str) or an integer(int)

Data= 381

In [95]:
Data

381

In [98]:
#Data[2]= '2'

In [102]:
# Concatnation is the way we assing strings or letters to strings. Using example below 

name= "Sam"

In [103]:
last_letters = name[1:]

In [104]:
last_letters

'am'

In [105]:
'P' + last_letters

'Pam'

In [106]:
# More concatonation examples

x= 'Hello World'

In [118]:
x   +  " I am going to be very rich and still healthy in the year 2024"

'Hello World I am going to be very rich and still healthy in the year 2024'

In [119]:
# You can also multiply under string concatonations

letter= 'z'

In [120]:
letter * 18

'zzzzzzzzzzzzzzzzzz'

In [121]:
x= "hello world"

In [122]:
x.upper()

'HELLO WORLD'

In [123]:
x.lower()

'hello world'

In [124]:
x.split()

['hello', 'world']

In [125]:
x.split('o')

['hell', ' w', 'rld']

In [126]:
my_name = "jose"

In [129]:
print("Hello"+   my_name)

Hellojose

In [133]:
#Print and formatting Strings(.formatmethod or the fstring format method)

print ('This  is a string {}'.format('INSERTED'))

This  is a string INSERTED

In [135]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [136]:
print('The {2} {0} {1}'.format('fox','brown','quick'))

The quick fox brown

In [137]:
print('The {1} {1} {1}'.format('fox','brown','quick'))

The brown brown brown

In [139]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

result= 100/777

In [140]:
# Float Formatting using .format method follows "{value:width.precision f}"

result= 100/777

In [141]:
result

0.1287001287001287

In [142]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [143]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [144]:
# The Float Formatting follows "{value:width.precision f}" is shown below in {r:1.3f}:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [162]:
# Using the F string Methods

name = "Kay"

In [163]:
print(f'Hello, his name is {name}')

Hello, his name is Kay

In [169]:
name

'Kay'

In [ ]:
age = 39

In [167]:
print(f'{name} is {age} years old.')

Kay is 39 years old.

In [151]:
height = 178

In [168]:
print(f'{name} is {age} years old and {height} cm tall.')

Kay is 39 years old and 178 cm tall.

In [159]:
# LIST IN PYTHON
my_list = [1,2,3]

In [160]:
# list bcombines different data types as seen below
my_list = ["STRING",100,23.2]

In [161]:
len(my_list)

3

In [172]:
my_list[2]

23.2

In [173]:
another_list= ['four',8,00.31]

In [174]:
my_list + another_list

['STRING', 100, 23.2, 'four', 8, 0.31]

In [177]:
New_List= my_list+ another_list

In [178]:
New_List

['STRING', 100, 23.2, 'four', 8, 0.31]

In [184]:
# List is one of the data types that can be mutable. example below we change from 'STRING' to 'int'

New_List[0]= 'int'

In [185]:
# Here we did not need to use concatonation or slicing to mutate

New_List

['int', 100, 23.2, 'four', 8, 0.31]

In [188]:
# append just  type the  new_List and dot infront and tab it will givea list of menu then choose append 
# Appens adds a new item to the end of the list as shown in example below adding six
New_List.append("six")

In [189]:
New_List

['int', 100, 23.2, 'four', 8, 0.31, 'six']

In [193]:
# the pop function which is also in the list menu is used to remove the last item on the list
# It is shown below, unlike when adding you write the item in the parenthesis when poping you leave it blank
# However if you do not want to remove from the back gthen you put the index number of what you want in the parenthesis
New_List.pop()

'six'

In [194]:
New_List

['int', 100, 23.2, 'four', 8, 0.31]

In [195]:
# specify what to remove, we remove 'four' from gthe list itb is the 3rd index
New_List.pop(3)

'four'

In [196]:
New_List

['int', 100, 23.2, 8, 0.31]

In [197]:

# Sorting in order and also revresing we use sort and reverse function


New_List = ['a','e','x','b','c']
Num_List=[4,1,8,3]

In [198]:
New_List.sort()

In [199]:
New_List

['a', 'b', 'c', 'e', 'x']

In [200]:
Num_List.reverse()

In [201]:
Num_List

[3, 8, 1, 4]

In [ ]:
# DICTIONARIES