<a href="https://colab.research.google.com/github/CodedSlash/Real-UdemyPython/blob/main/SlashJupiter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
2+1

3

In [ ]:
2-1

1

3/2

In [ ]:
2+2

4

In [ ]:
3/2

1.5

In [ ]:
7/4

1.75

In [ ]:
# Checks the remainder 7 divide by 4 is 4 times 1 = 4 and 3 reamining
20 divide by 2 is exactly 10 with no remainder so 20 % 2 will be  equals to 0


7 % 4

3

In [ ]:
2 ** 3

8

In [ ]:
2+10*10+3

105

In [ ]:
# It uses BODMAS known as PEDMAS in US (Parentheses-Exponents-Multiplication-Addistion-Subtraction)


(2+10)*(10+3)

156

In [ ]:
1/10+2/100+5/1000

0.125

In [ ]:
0/2+0/4+1/8

0.125

In [ ]:
round(2.675,2)

2.67

In [ ]:
decimal(2.675)

NameError: name 'decimal' is not defined

In [ ]:
from decimal import Decimal

In [ ]:
Decimal(2.675)

Decimal('2.67499999999999982236431605997495353221893310546875')

In [ ]:
#NAMES and VARIABLES

a = 5

In [ ]:
a = 5

In [ ]:
a

5

In [ ]:
a=10

In [ ]:
a

10

In [ ]:
a+a

20

In [ ]:
a= a+a

In [ ]:
a

160

In [ ]:
a

20

In [ ]:
a

20

In [ ]:
type(a)

int

In [ ]:
a=30.8

In [ ]:
type(a)

float

In [ ]:
my_income = 100
tax_rate = 0.1
my_taxes =my_income * tax_rate

In [ ]:
my_income= 100
tax_rate=0.1
my_taxes=my_income*tax_rate

In [ ]:
my_taxes

10.0

In [ ]:
my_income= 8300

In [ ]:
my_taxes

10.0

In [ ]:
# STRINGS LECTURE
# Indexing and slicing
"this is a string lecture"

'this is a string lecture'

In [ ]:
'hello'

'hello'

In [ ]:
"hello"

'hello'

In [ ]:
"i'm going home or can't I"

"i'm going home or can't I"

In [ ]:
'hello world boys'
'hello world girls'

'hello world girls'

In [ ]:
# This shows the Use of Print, look t the example in 46 the output was just the 2nd line only but below both


print('hello world boys')
print('hello world girls')

hello world boys
hello world girls

In [ ]:
print('hello world')

hello world

In [ ]:
# Here we see how to put characters like new line which is \n or tab which \t in between strings

print('hello \nworld')

hello
world

In [ ]:
print('hello \t world')

hello 	 world

In [ ]:
# The tab spacing can be adjusted by just increasing the space bewteen the strings same as the new line \n



print('hello \t     world')

hello 	     world

In [ ]:
# the len is the length of the character like hellombellow contains 5 characters and my baby is 7 it includes d space



len('hello')

5

In [ ]:
len('my baby')

7

In [ ]:
#Indexing and Slicing

mystring = "Hello World"

In [ ]:
mystring

'Hello World'

In [ ]:
#Indexing shows the number of the character as show below 8 in hello world is letter r

mystring[8]

'r'

In [ ]:
# strings could be indexed from behind as shown below -1 will be the d in Hellow world read from behind

mystring[-1]

'd'

In [ ]:
# slicing takes a part of the string, i.e 2 or more out of a character

mystring= "olukayode"

In [ ]:
mystring

'olukayode'

In [ ]:
mystring[3]

'k'

In [ ]:
len("mystring")     #remember counts from 0

8

In [ ]:
# Below shows from wherever we wantin the string to the end of the string and the other way round is further below


mystring[3:]

'kayode'

In [ ]:
mystring[:3]

'olu'

In [ ]:
mystring[3:6]

'kay'

In [ ]:
# Below you can use to show the fulll string or just type out the variable mystring as usually do.
# further below we see why this double colunm is used we use it for step slice as shown below we going 2 steps

mystring[::]

'olukayode'

In [ ]:
#Below we have used 2 steps slice from the begining of the string(2 loops)

mystring[::2]

'ouaoe'

In [ ]:
mystring[::3]

'oko'

In [ ]:
# Below starts on 1 stops at 8 and moves by 3 steps

mystring[1:8:3]

'lad'

In [ ]:
# Below is a statement saying all the way to the begining all the way to the end take a backward step

mystring[::-1]

'edoyakulo'

In [ ]:
# [IMMUTABILITY: this shows that strings are data types in python that cannot be mutated, immitated or swapped
# 94 to 98 is just checking this works but you cannot reassing a string(str) or an integer(int)

Data= 381

In [ ]:
Data

381

In [ ]:
#Data[2]= '2'

In [ ]:
# Concatnation is the way we assing strings or letters to strings. Using example below

name= "Sam"

In [ ]:
last_letters = name[1:]

In [ ]:
last_letters

'am'

In [ ]:
'P' + last_letters

'Pam'

In [ ]:
# More concatonation examples

x= 'Hello World'

In [ ]:
x   +  " I am going to be very rich and still healthy in the year 2024"

'Hello World I am going to be very rich and still healthy in the year 2024'

In [ ]:
# You can also multiply under string concatonations

letter= 'z'

In [ ]:
letter * 18

'zzzzzzzzzzzzzzzzzz'

In [ ]:
x= "hello world"

In [ ]:
x.upper()

'HELLO WORLD'

In [ ]:
x.lower()

'hello world'

In [ ]:
x.split()

['hello', 'world']

In [ ]:
x.split('o')

['hell', ' w', 'rld']

In [ ]:
my_name = "jose"

In [ ]:
print("Hello"+   my_name)

Hellojose

In [ ]:
#Print and formatting Strings(.formatmethod or the fstring format method)

print ('This  is a string {}'.format('INSERTED'))

This  is a string INSERTED

In [ ]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [ ]:
print('The {2} {0} {1}'.format('fox','brown','quick'))

The quick fox brown

In [ ]:
print('The {1} {1} {1}'.format('fox','brown','quick'))

The brown brown brown

In [ ]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

result= 100/777

In [ ]:
# Float Formatting using .format method follows "{value:width.precision f}"

result= 100/777

In [ ]:
result

0.1287001287001287

In [ ]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [ ]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [ ]:
# The Float Formatting follows "{value:width.precision f}" is shown below in {r:1.3f}:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [ ]:
# Using the F string Methods

name = "Kay"

In [ ]:
print(f'Hello, his name is {name}')

Hello, his name is Kay

In [ ]:
name

'Kay'

In [ ]:
age = 39

In [ ]:
print(f'{name} is {age} years old.')

Kay is 39 years old.

In [ ]:
height = 178

In [ ]:
print(f'{name} is {age} years old and {height} cm tall.')

Kay is 39 years old and 178 cm tall.

In [ ]:
# LIST IN PYTHON
my_list = [1,2,3]

In [ ]:
# list bcombines different data types as seen below
my_list = ["STRING",100,23.2]

In [ ]:
len(my_list)

3

In [ ]:
my_list[2]

23.2

In [ ]:
another_list= ['four',8,00.31]

In [ ]:
my_list + another_list

['STRING', 100, 23.2, 'four', 8, 0.31]

In [ ]:
New_List= my_list+ another_list

In [ ]:
New_List

['STRING', 100, 23.2, 'four', 8, 0.31]

In [ ]:
# List is one of the data types that can be mutable. example below we change from 'STRING' to 'int'

New_List[0]= 'int'

In [ ]:
# Here we did not need to use concatonation or slicing to mutate

New_List

['int', 100, 23.2, 'four', 8, 0.31]

In [ ]:
# append just  type the  new_List and dot infront and tab it will givea list of menu then choose append
# Appens adds a new item to the end of the list as shown in example below adding six
New_List.append("six")

In [ ]:
New_List

['int', 100, 23.2, 'four', 8, 0.31, 'six']

In [ ]:
# the pop function which is also in the list menu is used to remove the last item on the list
# It is shown below, unlike when adding you write the item in the parenthesis when poping you leave it blank
# However if you do not want to remove from the back gthen you put the index number of what you want in the parenthesis
New_List.pop()

'six'

In [ ]:
New_List

['int', 100, 23.2, 'four', 8, 0.31]

In [ ]:
# specify what to remove, we remove 'four' from gthe list itb is the 3rd index
New_List.pop(3)

'four'

In [ ]:
New_List

['int', 100, 23.2, 8, 0.31]

In [ ]:

# Sorting in order and also revresing we use sort and reverse function


New_List = ['a','e','x','b','c']
Num_List=[4,1,8,3]

In [ ]:
New_List.sort()

In [ ]:
New_List

['a', 'b', 'c', 'e', 'x']

In [ ]:
Num_List.reverse()

In [ ]:
Num_List

[3, 8, 1, 4]

In [1]:
# DICTIONARIES

my_dict = {'key1':'value1','key2':'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [3]:
my_dict['key1']

'value1'

In [8]:
# a good axample for using dictionaries is below

prices_lookup ={'apple':2.99,'oranges':1.99,'milk':5.80}
prices_lookup['apple']

2.99

In [10]:
#we can also have a list in a dictionary and also a sub dictionary in a dictionary. example below
d={'k1':13,'k2':[0,1,2,],'k3':{'dicoinsidedico':100}}
d['k2']

[0, 1, 2]

In [11]:
d['k3']

{'dicoinsidedico': 100}

In [12]:
d['k3']['dicoinsidedico']

100

In [19]:
# In the case of the lkist we could grab an index and also change the style directly from the dictionary
d={'k1':13,'k2':['a','b','c',],'k3':{'dicoinsidedico':100}}
d['k2'][2].upper()

'C'

In [23]:
d['k2'].sort()
d['k2']

['a', 'b', 'c']

In [27]:
d['k2'].reverse()
d['k2']

['c', 'b', 'a']

In [29]:
# in dictionaries its easy to assign and add a new value
d={'k1':13,'k2':['a','b','c',],'k3':{'dicoinsidedico':100}}
# I can just add k4  straightforward
d['k4']=380
d

{'k1': 13, 'k2': ['a', 'b', 'c'], 'k3': {'dicoinsidedico': 100}, 'k4': 380}

In [31]:
# to change back to the previous without the 300 is just simply re-entering only the 3 keys and values or just copy and paste
d={'k1':13,'k2':['a','b','c',],'k3':{'dicoinsidedico':100}}
d

{'k1': 13, 'k2': ['a', 'b', 'c'], 'k3': {'dicoinsidedico': 100}}

In [35]:
# also you can just ask to see the all the keys in the dicionary and also the values too and items also together
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [36]:
d.values()

dict_values([13, ['a', 'b', 'c'], {'dicoinsidedico': 100}])

In [37]:
d.items()

dict_items([('k1', 13), ('k2', ['a', 'b', 'c']), ('k3', {'dicoinsidedico': 100})])

#TUPLES: this are similar to List the only major difference is they are immutable which is afeature a list and dictionary posses and also instead of index [] you use parentheses()

In [39]:
#As said the difference is () for tuples and [] for list this is shown below
t=(1,2,3)
mylist=[1,2,3]

In [40]:
type(t)

tuple

In [41]:
type(mylist)

list

In [43]:
# you can use count to show the amount of time an item appears
t=('a','a','b','c','c','c')
t.count('c')

3

In [44]:
#also you can easily do the index number
# for a it will return 0 as it will only show the first time the item appears on the index
t.index('a')

0

In [45]:
t.index('c')

3

In [50]:
tt= (1,2,3,4,5,5,6)
tt[1]

2

**SETS: are unordered collections of unique elements. they represent the same**

In [52]:
myset = set()
myset

set()

In [54]:
myset.add(1)
myset

{1}

In [56]:
myset.add(2)
myset

{1, 2}

In [59]:
# now lets try add another 2 and you will see it wont change as it only recognises a single 2 as a set
myset.add(2)
myset

{1, 2}

In [66]:
# so this below is what set really does it groups items in a list to an individual set.
mylist= [1,1,1,1,1,1,1,2,2,2,2,3,3,3,3,3,'a','a','k','k']
set(mylist)

{1, 2, 3, 'a', 'k'}

In [68]:
set('Mississippi')

{'M', 'i', 'p', 's'}

**BOOLEANS: True or False statements**

In [72]:
True

True

In [73]:
False

False

In [74]:
type(False)

bool

In [75]:
1>2

False

In [76]:
1==1

True

In [79]:
b=None
b